<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Table</title>
        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
    </head>
	<body>
    {% if is_user %}
    <button type="button" onclick="self.location='logout'">Logout</button>
    {% endif %}
    <div>
        {% if image_file %}
        <img src="{% static image_file  %}" height="20%" width="20%" onclick="self.location='edit_image?username={{ user_test }}&image_file={{ image_file }}'">
        {% endif %}
        <h1>{{ user_test }}</h1>
        <div id="gender">{{ gender }}</div>
    </div>
    <table class="responstable">
            <tr>
                <th>測量日期</th>
                <th>系級</th>
                <th>年齡</th>
                <th>身高</th>
                <th>體重</th>
                <th>飲食狀況</th>
                <th>一週平均運動時數</th>
                <th>近一週平均睡眠時數</th>
                <th>心情</th>
                <th>TXT</th>
            </tr>
	        {%   for attr in table %}
                <tr>
                <td>{{ attr.datetime }}</td>
                <td>{{ attr.grade }}</td>
                <td>{{ attr.age }}</td>
                <td>{{ attr.height }}</td>
                <td>{{ attr.weight }}</td>
                <td>{{ attr.stomach }}</td>
                <td>{{ attr.avg_ex_hour }}</td>
                <td>{{ attr.avg_sleep_hour }}</td>
                <td>{{ attr.mood }}</td>
                <td><a href="download?file={{ attr.txt }}">{{ attr.datetime }}</a></td>
                </tr>
            {% endfor %}
    </table>

	</body>
</html>